<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.singular_dreams.pux">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".firstuse.PuxFirstUseActivity"
            android:exported="true"/>
        <activity android:name=".debug.PuxDebugActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>
    </application>

</manifest>
